<md-content layout="column" flex="100" layout-align="end stretch" layout-fill>
    <div layout-fill flex="90"></div>
    <div flex="10">
        <md-fab-toolbar md-direction="left">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </md-button>
            </md-fab-trigger>
            <md-toolbar flex="100">
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="play">Play</md-button>
                    <md-button aria-label="gameplay">Gameplay</md-button>
                    <md-button aria-label="roles">Roles</md-button>
                    <md-button aria-label="development">Development</md-button>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>
    </div>
</md-content>
