<section class="white-panel" layout="row" flex>
    <div layout="column">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-disable-backdrop md-whiteframe="4" layout="column" flex="100">
            <md-toolbar class="md-theme-indigo" flex="10">
                <h1 class="md-toolbar-tools">About</h1>
            </md-toolbar>
            <md-content layout-padding flex>
                <h1>Game</h1>
                <h1>Web</h1>
                <h1>Facebook</h1>
                <h1>Development</h1>
            </md-content>
        </md-sidenav>
    </div>
    <md-content flex>
        <div layout="column" layout-fill flex>
            <p>Info goes here</p>
        </div>
    </md-content>
</section>
