<div layout="row" class="full-height" flex>
    <div flex="5"></div>
    <div class="content-panel" layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{title}}</h1>
            </md-toolbar>
            <md-content>
                <p>This is it warever waravar</p>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div layout="column" layout-align="top center">
                <p>foespajfeopsajfeopsjafopejsaopfejsoapfojesa</p>
                <p>fejsapfjeosajfpoesjapofejsapofjespoajfeopsajfopesa </p>
            </div>
        </md-content>
    </div>
    <div flex="5"></div>
</div>
