<md-toolbar class="primary-toolbar">
    <div class="md-toolbar-tools">
        <span flex="5"></span>
        <h4 class="primary-text"><span>Mafia Chat Game</span></h4>
        <span flex></span>
        <md-button class="primary-text" aria-label="gameplay" ui-sref="mafia.gameplay" layout="row" layout-align="space-between center">
            <md-icon class="material-icons icon-color" flex="25">games</md-icon>
            <span flex="75">Gameplay</span>
        </md-button>
        <md-button class="primary-text" aria-label="roles" ui-sref="mafia.roles" layout="row" layout-align="space-between center">
            <md-icon class="material-icons icon-color" flex="25">supervisor_account</md-icon>
            <span flex="75">Roles</span>
        </md-button>
        <md-button class="primary-text" aria-label="development" ui-sref="mafia.development" layout="row" layout-align="space-between center">
            <md-icon class="material-icons icon-color" flex="25">laptop</md-icon>
            <span flex="75">Development</span>
        </md-button>
        <md-button class="primary-text" aria-label="play" ui-sref="mafia.play" layout="row" layout-align="space-between center">
            <md-icon class="material-icons icon-color" flex="25">videogame_asset</md-icon>
            <span flex="75">Play</span>
        </md-button>
        <span flex="5"></span>
    </div>
</md-toolbar>
