<md-toolbar class="primary-toolbar">
    <div class="md-toolbar-tools" hide-xs hide-sm>
        <span flex="10"></span>
        <h4 class="primary-text brand"><span>Mafia Chat Game</span></h4>
        <md-button class="md-icon-button no-margin" href="https://github.com/adelavegaf/mafiachatgame">
            <md-icon md-svg-src="../images/github.svg" aria-label="github"></md-icon>
        </md-button>
        <md-button class="md-icon-button no-margin" href="https://www.facebook.com/mafiachatgame/">
            <md-icon md-svg-src="../images/facebook.svg" aria-label="facebook"></md-icon>
        </md-button>
        <span flex></span>
        <md-button class="primary-text" aria-label="gameplay" ui-sref="mafia.gameplay" layout="row" layout-align="space-between center" ng-click="setActive('mafia.gameplay')" ng-class="{'active-state': isActive('mafia.gameplay')}">
            <md-icon class="material-icons icon-color" flex="25">games</md-icon>
            <span flex="75">gameplay</span>
        </md-button>
        <md-button class="primary-text" aria-label="roles" ui-sref="mafia.roles" layout="row" layout-align="space-between center" ng-click="setActive('mafia.roles')" ng-class="{'active-state': isActive('mafia.roles')}">
            <md-icon class="material-icons icon-color" flex="25">supervisor_account</md-icon>
            <span flex="75">roles</span>
        </md-button>
        <md-button class="primary-text" aria-label="play" ui-sref="mafia.play" layout="row" layout-align="space-between center" ng-click="setActive('mafia.play')" ng-class="{'active-state': isActive('mafia.play')}">
            <md-icon class="material-icons icon-color" flex="25">videogame_asset</md-icon>
            <span flex="75">play</span>
        </md-button>
        <span flex="10"></span>
    </div>
    <div class="md-toolbar-tools" hide-gt-sm>
        <h4 class="primary-text brand"><span>Mafia Chat Game</span></h4>
        <span flex></span>
        <md-menu>
            <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon class="material-icons icon-color">menu</md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button class="primary-text" aria-label="gameplay" ui-sref="mafia.gameplay">
                        <md-icon class="material-icons icon-color">games</md-icon>
                        Gameplay
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="primary-text" aria-label="roles" ui-sref="mafia.roles">
                        <md-icon class="material-icons icon-color">supervisor_account</md-icon>
                        Roles
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="primary-text" aria-label="play" ui-sref="mafia.play">
                        <md-icon class="material-icons icon-color">videogame_asset</md-icon>
                        Play
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
