<md-card layout="column">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="../images/alex.svg" />
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-headline">{{"Mafia Chat Game" | uppercase}}</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content layout="column" layout-align="center center">
        <div class="fb-messengermessageus" messenger_app_id="496004080598108" page_id="1691882611078540" color="blue" size="large">
        </div>
    </md-card-content>
</md-card>
