<div>
    <p>
        Each game consists of 10 turns. If no party has won after 10 turns, the game will result in a draw. A turn is completed once the day-voting-night phases have been completed.
    </p>
    <p>
        Day: Each turn starts in the day phase. This phase lasts for 90 seconds. Every alive player may speak with each other in this phase. Normally, players would try and pinpoint a mafia member with what they have discovered in the night phase. However, be careful who you trust, a mafia member may be trying to deceive you.
    </p>
    <p>
        Voting: The second phase of a turn. This phase lasts for 30 seconds. No one is allowed to speak during this phase. Each player can only vote once for the player they think is a mafia member. Don’t waste your vote, you may not change it. Take into account that whenever someone votes, it will be publicly announced to the rest of the players who he voted for.
    </p>
    <p>
        Night: The last phase of a turn. This phase lasts for 30 seconds. Only mafia members may speak during the night in order to plot their attack. However, each player has assigned a role that has a special ability that can be used during this phase. You may change the target of your special ability how many times you want before the night phase ends. At the end of the night phase, you will be notified if your special ability had any effect and if anyone was murdered.
    </p>
    <p>
        Note that dead players may speak at any phase with each other.
    </p>
</div>
