<div layout-gt-sm="row" layout-xs="column" layout-sm="column" class="responsive-height">

    <md-card class="day" layout="column" flex-gt-sm="30" flex>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" ng-src="../images/day.svg" />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-headline">Day</span>
                <span class="md-subhead special-subhead" layout="row" layout-align="space-between center">
                    <span>Duration: 90s</span>
                <span>1st Phase</span>
                </span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="column">
            <p>
                Every alive player may speak with each other in this phase.
            </p>
            <p>
                Normally, players would try and pinpoint mafia members using the evidence they have gathered.
            </p>
            <p>
                However, be careful who you trust, a mafia member may be trying to deceive you.
            </p>
        </md-card-content>
    </md-card>

    <div flex-gt-sm="5"></div>

    <md-card class="voting" layout="column" flex-gt-sm="30" flex>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" ng-src="../images/voting.svg" />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-headline">Voting</span>
                <span class="md-subhead special-subhead" layout="row" layout-align="space-between center">
                    <span>Duration: 30s</span>
                <span>2nd Phase</span>
                </span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="column">
            <p>
                No one is allowed to speak during this phase.
            </p>
            <p>
                Each player can only vote once for the player they think is a mafia member. Don’t waste your vote, you can't change it.
            </p>
            <p>
                Additionally, all votes are publicly announced in the game chat. Everyone knows who you voted for.
            </p>
        </md-card-content>
    </md-card>

    <div flex-gt-sm="5"></div>

    <md-card class="night" layout="column" flex-gt-sm="30" flex>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" ng-src="../images/night.svg" />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-headline">Night</span>
                <span class="md-subhead special-subhead" layout="row" layout-align="space-between center">
                    <span>Duration: 30s</span>
                <span>3rd Phase </span>
                </span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="column">
            <p>
                Only mafia members may speak during this phase.
            </p>
            <p>
                Each player may cast his role's special ability. You may change your target freely until the time expires.
            </p>
            <p>
                At the end of the night phase, you will be notified if your special ability had any effect and if anyone was murdered.
            </p>
        </md-card-content>
    </md-card>
</div>
