<div layout="row">
    <div flex="5"></div>
    <div flex="20" layout="column">
        <div class="fade" layout="column" ng-if="isGameActive()" flex="100">
            <md-card>
                <md-card-header class="no-padding-bottom">
                    <md-card-header-text>
                        <span class="md-title">Player Status</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <section class="auto-overflow">
                        <md-list layout="column" flex>
                            <md-list-item class="md-2-line" ng-repeat="user in aliveUsers" ng-click="userClick(user)">
                                <img ng-src="../images/{{user.name.toLowerCase()}}.svg" class="md-avatar" alt="" />
                                <div class="md-list-item-text" layout="column">
                                    <h5>{{user.name}}</h5>
                                    <p>{{user.message}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>

                    <section class="auto-overflow">
                        <md-list layout="column" flex>
                            <md-list-item class="md-2-line" ng-repeat="user in deadUsers" ng-click="null">
                                <img ng-src="../images/{{user.name.toLowerCase()}}.svg" class="md-avatar" alt="" />
                                <div class="md-list-item-text" layout="column">
                                    <h5>{{user.name}}</h5>
                                    <p>{{user.role}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div ng-if="isDisconnected()" flex="50">
        <div class="vertical-l-container main" layout="column">
            <md-button class="md-raised md-primary" md-no-ink ng-click="connect()" flex>Play</md-button>
        </div>
    </div>

    <div ng-if="isConnecting() || isConnected()" flex="50">
        <div class="vertical-l-container main" layout="column" layout-align="center stretch" flex>
            <div flex="40"></div>
            <div flex="5" layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <h6>waiting for players...</h6>
            </div>
            <div flex="55"></div>
        </div>
    </div>

    <div ng-if="isPlaying()" flex="50">
        <div class="vertical-l-container main" layout="column" flex>
            <container flex="90">
                <section class="auto-overflow">
                    <md-list layout="column" id="message-container" layout-align="start stretch" flex>
                        <md-list-item class="md-2-line" ng-repeat="msg in messages track by $index" flex="10">
                            <div class="md-list-item-text" layout="column">
                                <h4>{{msg.alias}}</h4>
                                <p>{{msg.text}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </section>
            </container>
            <div class="message-form">
                <form name="messageForm">
                    <md-input-container layout="row" flex>
                        <label flex>{{currentUser.alias}}: </label>
                        <input name="messaging" ng-model="message.text" ng-keypress="sendMessage($event)" flex>
                    </md-input-container>
                </form>
            </div>
        </div>
    </div>

    <div flex="20" layout="column">

        <div class="fade" flex="20" ng-if="hasRole()">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="../images/{{currentUser.alias.toLowerCase()}}.svg" alt="" class="md-user-avatar" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{currentUser.alias}}</span>
                        <span class="md-subhead">{{currentUser.role}}</span>
                    </md-card-header-text>
                </md-card-header>
            </md-card>
        </div>

        <div class="fade" flex="20" ng-if="isGameActive()">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="../images/{{phase.toLowerCase()}}.svg" alt="" class="md-media-small" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{phase}}</span>
                        <span class="md-subhead">{{dayCount}} turns left</span>
                    </md-card-header-text>
                </md-card-header>
            </md-card>
        </div>
    </div>
    <div flex="5"></div>
</div>
