<div layout="row">
    <div flex="5"></div>
    <div flex="20" layout="column">
        <div class="fade" layout="column" ng-if="isGameActive()" flex="100">
            <md-card flex>
                <md-content flex>
                    <md-tabs class="md-dynamic-height md-primary" md-stretch-tabs="always" md-no-pagination="true" md-center-tabs="true">

                        <md-tab label="Users">
                            <md-content class="auto-overflow" flex>
                                <md-list layout="column" flex>
                                    <md-list-item class="md-2-line" ng-repeat="user in aliveUsers" ng-click="userClick(user)">
                                        <img ng-src="../images/{{user.name.toLowerCase()}}.svg" class="md-avatar" alt="" />
                                        <div class="md-list-item-text" layout="row">
                                            <div flex="80" layout="column">
                                                <h5>{{user.name}}</h5>
                                                <p>{{user.message}}</p>
                                            </div>
                                            <div flex="20" layout="column" layout-align="center center">
                                                <span class="glyphicon glyphicon-ok" ng-if="user.clicked"></span>
                                            </div>
                                        </div>
                                    </md-list-item>

                                    <md-list-item class="md-2-line" ng-repeat="user in deadUsers" ng-click="null">
                                        <img ng-src="../images/{{user.name.toLowerCase()}}.svg" class="md-avatar" alt="" />
                                        <div class="md-list-item-text" layout="column">
                                            <h5>{{user.name}}</h5>
                                            <p>Dead - {{user.role}}</p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>

                        <md-tab label="Roles">
                            <md-content class="auto-overflow" flex>
                                <md-list layout="column" flex>
                                    <md-list-item class="md-2-line" ng-repeat="role in roles" ng-click="null">
                                        <img ng-src="../images/{{getRoleImage(role)}}.svg" class="md-avatar" alt="" />
                                        <div class="md-list-item-text" layout="row">
                                            <div flex="80" layout="column">
                                                <h5>{{role.role}}</h5>
                                                <p ng-if="role.revealed">{{role.name}}</p>
                                            </div>
                                            <div flex="20" layout="column" layout-align="center center">
                                                <span class="glyphicon glyphicon-ok" ng-if="role.revealed"></span>
                                                <span class="glyphicon glyphicon-remove" ng-if="!role.revealed"></span>
                                            </div>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </md-card>
        </div>
    </div>

    <div ng-if="isDisconnected()" flex="50">
        <div class="vertical-l-container main" layout="column">
            <md-button class="md-raised md-primary" md-no-ink ng-click="connect()" flex>Play</md-button>
        </div>
    </div>

    <div ng-if="isConnecting() || isConnected()" flex="50">
        <div class="vertical-l-container main" layout="column" layout-align="center stretch" flex>
            <div flex="40"></div>
            <div flex="5" layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <h6 class="fade" ng-if="loadingStatus() && (isConnecting() || isConnected())">{{loadingMsg}}</h6>
            </div>
            <div flex="55"></div>
        </div>
    </div>

    <div ng-if="isPlaying()" flex="50">
        <div class="vertical-l-container main" layout="column" flex>
            <container flex="90">
                <section class="auto-overflow" chat-scroll="messages">
                    <md-list layout="column" id="message-container" layout-align="start stretch" flex>
                        <md-list-item class="md-2-line" ng-repeat="msg in messages track by $index" flex="10">
                            <div ng-if="isOwnMessage(msg)" flex>
                                <div flex="10"></div>
                                <div class="md-list-item-text" layout="column" layout-align="start end" flex="90">
                                    <h4>{{msg.alias}}</h4>
                                    <p class="chat-msg" ng-style="chatColor(msg)">{{msg.text}}</p>
                                </div>
                            </div>
                            <div ng-if="!isOwnMessage(msg)" flex>
                                <div class="md-list-item-text" layout="column" layout-align="start start" flex="90">
                                    <h4>{{msg.alias}}</h4>
                                    <p class="chat-msg" ng-style="chatColor(msg)">{{msg.text}}</p>
                                </div>
                                <div flex="10"></div>
                            </div>
                        </md-list-item>
                    </md-list>
                </section>
            </container>
            <div class="message-form">
                <form name="messageForm">
                    <md-input-container layout="row" flex>
                        <label flex>{{currentUser.alias}}: </label>
                        <input name="messaging" ng-model="message.text" ng-keypress="sendMessage($event)" maxlength="140" flex>
                    </md-input-container>
                </form>
            </div>
        </div>
    </div>

    <div flex="20" layout="column">

        <div class="fade" flex="20" ng-if="isGameActive()">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="../images/{{phase.toLowerCase()}}.svg" alt="" class="md-media-small" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{phase}}</span>
                        <span class="md-subhead">{{dayCount}} turns left</span>
                    </md-card-header-text>
                    <div flex="20" layout="column" layout-align="center center">
                        <span class="counter">{{counter}}s</span>
                    </div>
                </md-card-header>
            </md-card>
        </div>

        <div class="fade" flex="80" ng-if="isGameActive()">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="../images/{{currentUser.alias.toLowerCase()}}.svg" alt="" class="md-user-avatar" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{currentUser.alias}}</span>
                        <span class="md-subhead">{{currentUser.role}}</span>
                    </md-card-header-text>
                    <div flex="20" layout="column" layout-align="center center" ng-if="!showDescription" ng-click="toggleDescription()">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div flex="20" layout="column" layout-align="center center" ng-if="showDescription" ng-click="toggleDescription()">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </div>
                </md-card-header>
                <md-card-content class="role-description" ng-if="showDescription">
                    <p>You belong to the {{currentUser.alliance}}.</p>
                    <p>{{currentUser.roleDescription}}</p>
                </md-card-content>
            </md-card>
        </div>

    </div>
    <div flex="5"></div>
</div>
