.information {
    font-size: 16px;
    line-height: 23px;
}

.image-radius {
    border-radius: 5px;
}

.fixed-width {
    width: 340px !important;
}

@media only screen and (min-device-width: 960px) {
    .responsive-height {
        height: 100%;
    }
}


/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) and (min-device-width: 960px) {
    @media {
        .responsive-height {
            height: auto !important;
        }
    }
}
