.glyphicon-list-alt:before {
    margin-right: 5px;
    font-size: 16px;
}

.glyphicon-knight:before {
    margin-right: 5px;
    font-size: 16px;
}


/* navbar */

.navbar-default {
    background-color: #FFFFFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: #016282;
    border-bottom-color: #E0E0E0;
    background-image: none !important;
    border-top-width: thick;
    margin-bottom: 10px;
    padding: 0px;
}


/* title */

.navbar-default .navbar-brand {
    color: rgb(7, 41, 63);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgb(7, 41, 63);
}


/* link */

.navbar-default .navbar-nav > li > a {
    color: #A8A8A8;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #A8A8A8;
    background-color: #F0F0F0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(7, 41, 63);
    border-bottom-color: #05A2D7;
    border-bottom-width: thick;
    border-bottom-style: solid;
    background-color: white;
    background-image: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: white !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: rgb(7, 41, 63);
    border-bottom-color: #05A2D7;
    border-bottom-width: thick;
    border-bottom-style: solid;
    background-image: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: white !important;
}


/* caret */

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}


/* mobile version */

.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FFFFFF;
    }
}
