html {
    background: #F5F8FA !important;
}

body {
    background: #F5F8FA !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.content-panel {
    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.full-height {
    height: 100%;
}
