.mobile-paragraph {
    color: rgb(255, 255, 255);
    font-size: 18px !important;
    text-shadow: 4px 4px 5px black;
    text-align: center;
}

.mobile-background {
    background-image: url("../images/floor.png");
}
