.vertical-l-container {
    min-height: 85%;
    min-height: 85vh;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #E3E6E8;
}

.vertical-m-container {
    display: flex;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #E3E6E8;
}

#start-game-font {
    color: rgba(7, 41, 63, 1);
}

.menubar {
    padding: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-style: solid;
    border-top-width: thick !important;
    border-top-color: #86B9B9 !important;
}

.main {
    margin-left: 5px;
    margin-right: 5px;
    border-top-style: solid;
    border-top-width: thick !important;
    border-top-color: #86B9B9 !important;
}

.fade {
    opacity: 1;
}

.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

#message-container {
    height: 74vh;
    width: 100%;
}

.message-form {}

.auto-overflow {
    overflow: auto;
}

.full-height {
    height: 100%;
}
