.vertical-l-container {
    min-height: 85%;
    min-height: 85vh;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #E3E6E8;
}

.vertical-m-container {
    display: flex;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #E3E6E8;
}

#start-game-font {
    color: rgba(7, 41, 63, 1);
}

.menubar {
    padding: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-style: solid;
    border-top-width: thick !important;
    border-top-color: #86B9B9 !important;
}

.main {
    margin-left: 5px;
    margin-right: 5px;
    border-top-style: solid;
    border-top-width: thick !important;
    border-top-color: #86B9B9 !important;
}

.fade {
    opacity: 1;
}

.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

#message-container {
    height: 74vh;
    width: 100%;
}

.message-form {
    padding-left: 10px;
    padding-right: 10px;
}

.no-margin {
    margin: 0px !important;
}

md-card md-card-title {
    padding: 10px 10px 10px;
}

.auto-overflow {
    overflow: auto;
}

.full-height {
    height: 100%;
}

md-card md-card-content {
    display: block;
    padding: 0px 16px 16px 16px;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.glyphicon-ok {
    color: #00D9A3;
}

md-list.md-default-theme md-list-item.md-2-line .md-list-item-text p,
md-list md-list-item.md-2-line .md-list-item-text p,
md-list.md-default-theme md-list-item.md-3-line .md-list-item-text p,
md-list md-list-item.md-3-line .md-list-item-text p {
    color: rgba(0, 0, 0, 0.54);
    word-break: break-word;
}

.chat-msg {
    background-color: lightblue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 80%;
    padding: 3px;
}

.counter {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}
