.vertical-l-container {
    min-height: 85%;
    min-height: 85vh;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #E3E6E8;
}

.vertical-m-container {
    display: flex;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #E3E6E8;
}

#start-game-font {
    color: rgba(7, 41, 63, 1);
}

.menubar {
    padding: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.main {
    margin-left: 5px;
    margin-right: 5px;
}

.fade {
    opacity: 1;
}

.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    transition: 0.5s linear all;
    opacity: 0;
}

#message-container {
    height: 74vh;
    width: 100%;
}

.message-form {
    padding-left: 10px;
    padding-right: 10px;
}

.no-margin {
    margin: 0px !important;
}

md-card md-card-title {
    padding: 10px 10px 10px;
}

.auto-overflow {
    overflow: auto;
}

.full-height {
    height: 100%;
}

md-card md-card-content {
    display: block;
    padding: 0px 16px 16px 16px;
}

.status-card {
    padding-bottom: 0px !important;
    border-bottom-style: solid;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(63, 81, 181);
    border-bottom-color: rgb(255, 64, 129);
    border-bottom-width: 2px;
}

.glyphicon-ok {
    color: #00D9A3;
}

.glyphicon-remove {
    color: crimson;
}

.glyphicon-menu-down {
    color: rgba(0, 0, 0, 0.54);
}

.glyphicon-menu-up {
    color: rgba(0, 0, 0, 0.54);
}

md-list.md-default-theme md-list-item.md-2-line .md-list-item-text p,
md-list md-list-item.md-2-line .md-list-item-text p,
md-list.md-default-theme md-list-item.md-3-line .md-list-item-text p,
md-list md-list-item.md-3-line .md-list-item-text p {
    color: rgba(0, 0, 0, 0.54);
}

md-list-item.md-2-line,
md-list-item.md-2-line>.md-no-style {
    min-height: 70px !important;
}

.chat-msg {
    word-break: break-all;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1px 3px;
}

.counter {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.role-description {
    color: rgba(0, 0, 0, 0.54);
}

#player-status-title {
    font-size: 16px !important;
    background-color: rgb(63, 81, 181);
    color: rgba(255, 255, 255, 0.87);
}
